.error404 { 
  text-align: center;
  .hero {
    height: 50vh;
    width: 100vw;
  }
  .page-title {
    display: flex;
    flex-direction: column;
  }
  .browse-weddings {
    @include pink-button-mobile;
    @include desktop {
      @include pink-button;
    }    
  }
  .site-footer {
    margin-top: 5rem;
  }
}