.error404 { 
  text-align: center;
  .hero {
    background:
    url(../../images/404-hero.jpg) center no-repeat; 
    background-size: cover;
    background-position-y: -20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
  }
  .page-title {
    display: flex;
    flex-direction: column;
    font-family: $font__main;
    font-style: italic;
    span {
      font-weight: 100;
      font-size: 1.5rem;
    }
  }
  .go-back {
    margin-bottom: 3.5rem;
  }
  .sorry p {
    font-size: 1.5rem;

    font-style: italic;
  }
  .browse-weddings a {
    @include pink-button-mobile;
    @include desktop {
      @include pink-button;
      padding: 2.3rem 5rem;
    }    
  }
  .site-footer {
    margin-top: 5rem;
  }
}