/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.page-id-54 {
  .site-content {
    .content-area {
      .entry-title {
        text-align: center;
        @include desktop {
          font-size: 64px;
          color: $color__text-secondary;
          font-weight: 500;
          font-style: italic;
          letter-spacing: 2px;
        }
      }
    }
  }
}
  .who-we-are-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      flex-direction: row;
      max-width: 1060px;
      align-items: center;
    }

    .who-we-are-wrapper.active {
      display: flex;
    }

    .who-we-are-image {

      @include desktop {
        max-height: 516px;
        max-width: 400px;
        height: auto;
        width: auto;
        margin: 0 1rem;
        padding-right: 1rem;
      }

      img {
        max-width: $desktop-width;
        height: auto;
        margin: 0 auto;
        width: 90%;
        float: left;
      }
    }
    .who-we-are-text {
      text-align: justify;
      margin: 0 1.5rem 0 0;
      color: $color__text-main;
      letter-spacing: 1.1px;
      font-weight: lighter;
      line-height: 120%;

      @include desktop {
        font-size: 18px;
      }
    }
  }

.about-sub-pages {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2.5rem;
    li {
      padding: 0 1.25rem;
      font-style: italic;
      font-weight: lighter;
      letter-spacing: 1.2px;
      @include desktop {
        font-size: 20px;
        letter-spacing: 1.2px;
      }
    }
  }

    .tab {
      display:none;
  }

  .tab.active {
      display:block;
  }

/*----- what we do -----*/

.what-we-do-title {
  font-size: 2rem;
  font-style: italic;
  color: $color__text-main;
  text-align: center;
  font-weight: 400;
  @include desktop {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

.what-we-do-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    width: 960px;
    margin: 0 auto;
  }
  img {
    width: 95%;
    margin: 0 auto;
    @include desktop {
      width: 400px;
      height: auto;
      max-height: 375px;
    }
  }
}

.what-we-do-text-one,
.what-we-do-text-two,
.what-we-do-text-three,
.what-we-do-text-four {
  width: 95%;
  text-align: justify;
  letter-spacing:1.1px;
  line-height: 120%;
  font-weight: lighter;
  @include desktop {
    width: 55%;
    text-align: justify;
    font-size: 18px;
  }
}

.what-we-do-text-one,
.what-we-do-text-three {
  
  @include desktop {
    padding: 0 0 1.5rem 2.5rem;
  }
}

.what-we-do-text-two,
.what-we-do-text-four {
  
  @include desktop {
    padding-right: 2.5rem;
  }
}

.what-we-do-text-one{
  
  @include desktop {
    padding-top: 0.5rem;
  }
}

.block-one-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-two-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}



/*----- Accordion -----*/
.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}

.accordion {
  overflow:hidden;
  border-radius:3px;
  background: $color__background-body;
}

/*----- Section Titles -----*/
.accordion-section-title {
  width:100%;
  padding:15px;
  display:inline-block;
  border-bottom:1px solid $color__text-secondary;
  transition:all linear 0.15s;
  /* Type */
  font-size:1.8rem;
  color: $color__text-main;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.accordion-section-title.active, .accordion-section-title:hover {
  background:rgba(0,0,0,0.03);
  /* Type */
  text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
  border-bottom: 1px solid $color__text-secondary;
}

.accordion-section:first-child .accordion-section-title {
  border-top: 1px solid $color__text-secondary;
}

/*----- Section Content -----*/
.accordion-section-content {
  padding:15px;
  display:none;
}

.accordion-section-title.active {
  display: inline-block;
}

.accordion-section-content.open {
  border-bottom: 1px solid $color__text-secondary;
}

/*----- Branding -----*/

.monogram-logo {
  width: 42px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.about-contact-us {
  width: 300px;
  height: 100px;
  font-size: 1.3rem;
  outline-offset: -14px;
  background-color: $color__accent;
  outline: 2px solid $color__background-body;
  display: block;
  margin: 1.5rem auto 5rem auto;
  text-decoration: none;
  color: $color__background-body;
  font-style: italic;
}