/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.page-id-54 {
  .site-content {
    .content-area {
      .entry-header.custom-hero {
        img {
          height: 300px;
          max-width: 100%;
          width: 100%;
        }
      }
      .entry-title {
        text-align: center;
        font-size: 3rem;
        font-style: italic;
        color: $color__text-secondary;
        font-weight: lighter;
        letter-spacing: 1.1px;
        @include desktop {
          font-size: 64px;
          font-weight: 500;
          font-style: italic;
          letter-spacing: 2px;
        }
      }
    }
  }
}

  .who-we-are-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      flex-direction: row;
      max-width: 1060px;
      align-items: center;
    }

    .who-we-are-wrapper.active {
      display: flex;
    }

    .who-we-are-image {
      padding: 1rem 2.25rem;

      @include desktop {
        max-height: 516px;
        max-width: 400px;
        height: auto;
        width: auto;
        margin: 0 1rem;
        padding-right: 1rem;
      }

      img {
        max-width: 95%;
        height: auto;
        margin: 0 auto;
        width: 90%;
        float: left;
      }
    }
    .who-we-are-text {
      text-align: justify;
      color: $color__text-main;
      letter-spacing: 1.1px;
      margin: 0 1rem;
      font-weight: lighter;
      line-height: 120%;
      padding: 0 1.25rem;

      @include desktop {
        font-size: 18px;
        margin: 0 1.5rem 0 0;
        padding: 0;
      }
    }
  }

.about-sub-pages {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2.5rem;
    li {
      padding: 0 0.25rem;
      margin: 0 1.25rem;
      font-style: italic;
      font-weight: lighter;
      letter-spacing: 1.2px;
      @include desktop {
        font-size: 20px;
        letter-spacing: 1.2px;
      }
      a {
        text-decoration: none;
      }

      a:hover {
        padding-bottom: 0.5rem;
        color: $color__link-hover;
      }
    }
  }

    .tab {
      display:none;
  }

  li.active {
    padding-bottom: 0.5rem;
    border-bottom: 2.5px solid $color__text-secondary;
  }

  .tab.active {
      display:block;
  }

/*----- what we do -----*/

.what-we-do-title {
  font-size: 2rem;
  font-style: italic;
  color: $color__text-main;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  @include desktop {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.what-we-do-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    width: 960px;
    margin: 0 auto;
  }
  img {
    width: 95%;
    margin: 0 auto;
    padding: 0 1rem;
    display: block;
    @include desktop {
      width: 400px;
      height: auto;
      max-height: 375px;
    }
  }
}

.what-we-do-text-one,
.what-we-do-text-two,
.what-we-do-text-three,
.what-we-do-text-four {
  width: 95%;
  margin: 0 auto;
  letter-spacing:1.1px;
  line-height: 120%;
  font-weight: lighter;
  padding: 1rem 1rem 0 1rem;
  text-align: justify;
  @include desktop {
    width: 55%;
    font-size: 18px;
  }
}

.what-we-do-text-one,
.what-we-do-text-three {
  
  @include desktop {
    padding: 0 0 1.5rem 2rem;
  }
}

.what-we-do-text-two,
.what-we-do-text-four {
  
  @include desktop {
    padding-right: 2.5rem;
    padding-left: 0;
  }
}

.what-we-do-text-one{
  
  @include desktop {
    padding-top: 0.5rem;
  }
}

.block-one-wrapper {
  margin: 1rem 0;
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.block-one-wrapper:first-of-type {
  margin-bottom: 0;
}

.block-two-wrapper {
  margin: 1rem 0;
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

.block-two-wrapper:first-of-type {
  @include desktop {
    margin-top: 0;
  }
}

/*----- About Desktop -----*/
.about-section-one,
.about-section-two,
.about-section-three {
  width: 95%;
  display: block;
  margin: 0 auto;
  @include desktop {
    
   }
  h3 {
    display: block;
    font-weight: lighter;
    @include desktop {
      font-size: 30px;
     }
  }
  p {
    max-width: 95%;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    font-weight: lighter;
    @include desktop {
      margin: 20px auto;
      width: 85%;
     }
  }
}

.about-section-one {
  text-align: center;
  display: block;
  p {
    color: $color__text-secondary;
    letter-spacing: 1.05px;
    line-height: 125%;
  }
  p:last-child {
    border-bottom:1px solid $color__text-secondary;
    padding-bottom: 4rem;
  }
  h3 {
    line-height: 125%;
    margin: 0.75rem 0;
  }
}

.about-section-two {
  font-size: 18px;
  .faq-question {
    margin-bottom: 0.25rem;
    font-weight: 500;
  }
  .faq-answer {
    margin-top: 0;
  }

  .faq-answer:last-child {
    border-bottom: 1px solid $color__accent;
    padding-bottom: 4rem;
  }
}

.about-section-three {
  text-align: justify;
  em {
    color: $color__text-secondary;
  }

}

.about-section-title {
  font-size: 3rem;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.about-section-title:first-child {
  margin-top: 3rem;
}


/*----- Accordion -----*/
.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}

.accordion {
  overflow:hidden;
  border-radius:3px;
  background: $color__background-body;
  @include desktop {
   display: none;
  }
}

.faq-desktop {
  display: none;
  letter-spacing: 1.1px;
  @include desktop {
    display: block;
    font-weight: lighter;
   }
}

/*----- Section Titles -----*/
.accordion-section-title {
  width:100%;
  padding:15px;
  display:inline-block;
  border-bottom:1px solid $color__text-secondary;
  transition:all linear 0.15s;
  /* Type */
  font-size:1.8rem;
  color: $color__text-main;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.accordion-section-title.active, .accordion-section-title:hover {
  background:rgba(0,0,0,0.03);
  /* Type */
  text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
  border-bottom: 1px solid $color__text-secondary;
}

.accordion-section:first-child .accordion-section-title {
  border-top: 1px solid $color__text-secondary;
}

/*----- Section Content -----*/
.accordion-section-content {
  padding:1rem 1rem 2rem 1rem;
  display:none;

  h3 {
    text-align: center;
    font-style: italic;
  }

  p {
    width: 92%;
    margin: 1rem auto;
    text-align: justify;
  }

  .faq-question {
    font-weight: 500;
  }

  .faq-answer {
    margin-bottom: 0.75rem;
  }
}

.testimonial-source {
  color: $color__text-secondary;
}

.accordion-section-title.active {
  display: inline-block;
}

.accordion-section-content.open {
  border-bottom: 1px solid $color__text-secondary;
}

/*----- Branding -----*/

.monogram-logo {
  width: 42px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

.about-contact-us {
  width: 224px;
  height: 75px;
  font-size: 1.3rem;
	outline-offset: -15px;      
	background-color: $color__accent;
	outline: $border__white-solid;
	border: none;
  display: flex;
  margin: 1.5rem auto 5rem auto;
  text-decoration: none;
  color: $color__background-body;
  font-style: italic;
  align-items: center;
  justify-content: center;
  a {
		text-decoration: none;
		color: $color__background-body;
	}

}