/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.page-id-54 {
  .site-content {
    .content-area {
      .entry-title {
        text-align: center;
      }
    }
  }
}
  .who-we-are-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      flex-direction: row;
      width: 90%;
      max-width: 1060px;
    }

    .who-we-are-image {
      margin-left: auto;

      @include desktop {
        max-height: 516px;
        max-width: 400px;
        height: auto;
        width: auto;
      }

      img {
        max-width: $desktop-width;
        height: auto;
        margin: 0 auto;
        width: 90%;
      }
    }
    .who-we-are-text {
      text-align: justify;
      margin: 0 auto;

      @include desktop {
        text-align: left;
        max-width: 594px;
        max-height: 529px;
        width: auto;
        height: auto;
      }
    }
  }

  .about-sub-pages {
    display: flex;
    justify-content: center;
  }