/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.page-id-54 {
  .site-content {
    .content-area {
      .entry-title {
        text-align: center;
      }
    }
  }
}


  .who-we-are-wrapper {
    display: flex;
    flex-direction: column;
    width: $desktop-width;
    margin-left: auto;
    margin-right: auto;

    .who-we-are-image {
      margin: 1.5rem;

      img {
        max-width: $desktop-width;
        height: auto;
        margin: 0 auto;
        width: 90%;
      }
    }
    .who-we-are-text {
      text-align: justify;
      max-width: 90%;
      margin: 0 auto;

      @include desktop {
        text-align: left;
      }
    }
  }

  .about-sub-pages {
    display: flex;
    justify-content: center;
  }