/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
.page-id-61 {
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
width: 180px;
height: 50px;
background-color: $color__text-main;
color: $color__background-body;
border-style: none;
font-style: italic;
font-size: 24px;
letter-spacing: 2px;
	}	
}
/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background-color: $color__background-input;
	border-radius: 0px;
	border-style: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

// input fields on desktop

label {
	color: $color__text-main;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}

.first-name-last {
	display: flex;
	align-items: baseline;
	label {
		width: 50%;
	}
	p {
		width: 40%;
	}
}

.wedding-date-venue {
	display: flex;
	align-items: baseline;
}
.wpcf7-form-control.wpcf7-text {
	width: 100%;
}
.submit {
	display: flex;
	justify-content: center;
	margin: 3% 0 2% 0;
}
