/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Submit Button */
.page-id-61 {
		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
		width: 180px;
		height: 50px;
		background-color: $color__text-main;
		color: $color__background-body;
		border-style: none;
		font-style: italic;
		font-size: 24px;
		letter-spacing: 2px;
			}	
	}

/* Email submit Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background-color: $color__background-input;
	border-radius: 0px;
	border-style: none;
	height: 50px;
	min-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

// input fields on desktop connect page
form.wpcf7-form {
	width: 100vw;
	padding: 2em;
 	@include desktop {
		 width: 620px;
	 }	 
}

label {
	color: $color__text-main;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
}
.wpcf7-form-control.wpcf7-text {
	height: 50px;
}

.first-name-last {
	.wpcf7-form-control.wpcf7-text {
		width: 50%;
	}
}
.wedding-date-venue {
	.wpcf7-form-control.wpcf7-text {
		width: 50%;
	}
}

.email {
	.wpcf7-form-control.wpcf7-text {
		width: 100%;
	}
}

.submit {
	display: flex;
	justify-content: center;
	margin: 3% 0 2% 0;
}
