/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
.page-id-61 {
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
background-color: $color__text-main;
border-style: none;
color: $color__background-body;
font-style: italic;
width: 180px;
height: 50px;
	}	
}
/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background-color: $color__background-input;
	border-radius: 0px;
	border-style: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

// input fields on desktop

.first-name-last-name {
	display: flex;
	align-items: baseline;
}

.wedding-date-venue {
	display: flex;
	align-items: baseline;
}
