.home {
  .site-content {
    text-align: center;
  }
  .hero {
    min-height: 50vh;
    @include desktop {
    min-height:90vh;
    }
  
    .front-center-logo {
      top: 34%;
      left: 27vw;
      position: absolute;
      width: 50%;
      @include desktop {
      width: 350px;
      top: 21%;
      left: 42vw;
      }
    }
  }
 
  
  .introduction-container {
    height: 100%;
    width: 65vw;
    margin: 0 auto;
    @include desktop {
      .storyteller, 
      .friend {
        text-align: left;
        width: 23rem;
        margin-left: 30rem;
        
      }
      .observer {
      height: 50vh;
      width: 29.5rem;
      text-align: right;
      }      
    }
  }

  button {
    width: 300px;
    height: 100px;
    font-size: 1.3rem;
    background-color: $color__accent;
    outline: $border__white-solid;
    outline-offset: -14px;  
    color: $color__background-body;
  }
}
  .owl-wrapper {
    width: 30rem;
  }

  .site-main .instagram-carousel-container {
    margin: 0 auto;
    // text-align: center;
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    // margin: 5rem auto; 
    // margin: 10rem 0;
    // width: 33rem;
  }
    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
  
  .owl-item {
    display: flex;
    justify-content: space-evenly;    
    img {
      padding: 8px;
      height: 200px;
      width: 200px;
      // box-sizing: initial;
    }

  }

