.home {
  .site-content {
    text-align: center;
    a {
      text-decoration: none;
    }
  }

  .hero {
    min-height: 50vh;
    @include desktop {
      display: flex;
      flex-direction: column;
      min-height:90vh;
    }
    .front-center-text {
      // position: absolute;
      height: 200px;
      width: 350px;
      margin: 0 auto;
      position: absolute;
      top: 18rem;
      right: 20%;
      text-align: center;
      // top: 35%;
      // left: 0%;
      @include desktop { 
        margin: 24% auto 0;
        position: inherit;
        // top: 44%;
        // left: 38%;
        // height: 200px;
        // width: 350px;
      }
    }
    .front-center-logo {
      transform: translate(-50%, -50%);      
      transition: all .4s ease-in-out;
      width: 125px;
      height: 205px;
      margin: 10rem auto;
      position: absolute;
      left: 50%;
      
      @include desktop {
        // width: 350px;
        // margin: 10% auto;
        // transition: all 0.4s ease-in-out; 
        margin: 5rem auto;
        width: 350px;
        margin-top: 150px;
        position: absolute;
        top: 7rem;
        left: 50%;   
      }
    }
  }

  .introduction-container {
    height: 100%;
    width: 65vw;
    margin: 0 auto;
    @include desktop {
      .storyteller, 
      .friend {
        text-align: left;
        width: 23rem;
        margin-left: 30rem;
      }
      .observer {
      height: 50vh;
      width: 29.5rem;
      text-align: right;
      }      
    }
  }
  .browse-weddings,
  .about-us,
  .connect {
    width: 300px;
    height: 100px;
    font-size: 1.3rem;
    outline-offset: -14px;      
    background-color: $color__accent;
    outline: $border__white-solid;
    a {
      text-decoration: none;
      color: $color__background-body;
    }
  }
}
.owl-wrapper {
  width: 30rem;
}

.instagram-carousel-container {
  width: 750px;
}

.site-main .instagram-carousel-container {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
} 

.instagram-carousel-container {
  position: relative;
}

.follow-instagram-header {
  width: 100%;
  height: 2.5rem;
}

.follow-instagram {  
  flex-direction: column;
  margin: 0 auto;
  background-color: blue;
  @include desktop {    
    width: 30%;  
    display: flex;
  }
}
  
.owl-carousel {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;    
  border-top: $border__main-solid;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
}
  
.owl-item {
  display: flex;
  justify-content: space-evenly;    
  img {
    padding: 8px;
    height: 200px;
    width: 200px;
  }
}

.home .hero .shrink {
  max-width: 50px;
  position: fixed;
  margin: 3rem 0;
  @include desktop {    
    margin: -3rem 0;
  }    
}

.scroll-arrow {
  position: absolute;
  top: 80vh;
  left: 48%;
  .scroll {
    background-color: transparent;
    border: none;
    h1 {
      margin: 0 auto;
      width: 64px;
      font-size: 2.5em;
    }
  }
}

