.home {
  .site-content {
    text-align: center;
  }
  .hero {
    min-height: 50vh;
    @include desktop {
      display: flex;
      flex-direction: column;
    min-height:90vh;
    }
    .front-center-text {
      position: absolute;
      height: 200px;
      width: 350px;
      top: 35%;
      left: 0%;
      @include desktop {
        
      top: 44%;
      left: 38%;
      height: 200px;
      width: 350px;
      // margin: 5rem auto;
      }
    }
  
    .front-center-logo {
      
      width: 125px;
      height: 205px;
      margin: 5rem auto;
      @include desktop {
      width: 350px;
      margin: 10% auto;
      transition: all 0.4s ease-in-out;      
      }
    }
  }
  
  .introduction-container {
    height: 100%;
    width: 65vw;
    margin: 0 auto;
    @include desktop {
      .storyteller, 
      .friend {
        text-align: left;
        width: 23rem;
        margin-left: 30rem;
        
      }
      .observer {
      height: 50vh;
      width: 29.5rem;
      text-align: right;
      }      
    }
  }

  .browse-weddings,
  .about-us,
  .connect {
    width: 300px;
    height: 100px;
    font-size: 1.3rem;
    background-color: $color__accent;
    outline: $border__white-solid;
    outline-offset: -14px;  
    color: $color__background-body;
  }
}
  .owl-wrapper {
    width: 30rem;
  }

  .instagram-carousel-container {
    width: 750px;
  }

  .site-main .instagram-carousel-container {
    margin: 10rem auto 0;
    // text-align: center;
    display: flex;
    flex-direction: column;

    // margin: 0 auto;
    // margin: 5rem auto; 
    // margin: 10rem 0;
    width: 100%;
  } 

  .instagram-carousel-container {
    position: relative;
  }
  .follow-instagram-header {
    width: 100%;
    height: 2.5rem;
  }
    .follow-instagram {
      // position: absolute;
      // display: flex;
      flex-direction: column;
      // text-align: center;
      width: 23%;
      margin: 0 auto;
      background-color: blue;
    }
  
  .owl-carousel {
    // text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;    
    border-top: $border__main-solid;
    border-bottom: $border__main-solid;
    padding-bottom: 4rem;
    margin-bottom: 1rem;
  }
  
  .owl-item {
    display: flex;
    justify-content: space-evenly;    
    img {
      padding: 8px;
      height: 200px;
      width: 200px;
      // box-sizing: initial;
    }

  }

  // .front-center-logo.shrink {
  //   // min-height: 35px;
  // }

  .home .hero .shrink {
    max-width: 50px;
    position: fixed;
    top: -38%;
    left: 47%;
    // transition: all 0.4s ease-in-out;
  }

  .scroll-arrow {
    position: absolute;
    top: 80vh;
    left: 48%;
    .scroll {
    background-color: transparent;
    border: none;
  }}