.home {
  .hero {
    min-height: 50vh;
    @include desktop {
      display: flex;
      flex-direction: column;
      height:100vh;
    }
    .front-center-text {
      height: 200px;
      width: 100vw;
      margin: 18rem auto;
      @include desktop { 
        margin: 20rem auto 0;
        position: inherit;
      }
    }
    .front-center-logo {
      transform: translate(-50%, -50%);      
      transition: all .4s ease-in-out;
      width: 125px;
      height: 205px;
      margin: 10rem auto;
      position: absolute;
      left: 50%;
      z-index: 1;
      @include desktop {
        margin: 5rem auto;
        width: 350px;
        margin-top: 150px;
        position: absolute;
        top: 7rem;
        left: 50%;   
      }
    }
  }
  .we-are-story-tellers {
    margin-top: 5rem;
  }
  @media (max-height: 800px){
    .home .hero .front-center-logo {
        margin-top: 50px;
    }
    .home .hero .front-center-text {
      width: 20px;
      height: 20px;
    }
  }
  // .storeyteller, .observer, .friend {
  //   display: block;
  // }

  .introduction-container {
    .we-are-story-tellers, 
    .we-are-observer,
    .we-are-your-friend {
      position: relative;
      list-style: none;     
      img {
        margin-top: 13rem;
        @include desktop {
        margin-top: 5rem;
        }          
      } 
      @include desktop {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        .storytellers-image, .friend-image {
          height: 810px;
          width: 540px;        
        }
      }
      p { 
        position: absolute;
        top: 7rem;        
        @include desktop {
        position: static;
        }
      }
      h1 {
        position: absolute;        
        top: 0;
        margin: 10% 5%;
        font-style: italic;
        font-weight: 400;
        @include desktop {
          margin: 0;
          position: static;
        }
      }
    }
    ul {
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    }
    @include desktop {
      ul:nth-child(odd) {
        text-align: left;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
          img {
          height: 810px;
          width: 540px;
        }
      }
      .storytellers-text,
      .friend-text {
        font-family: $font__main;
        font-style: italic;
        @include desktop {
          display: flex;
          flex-direction: column;
          align-items: left;
          position: absolute;
          left: 30rem;
          width: 24rem;
          font-size: 1.2rem;
          font-style: normal;
        } 
      }
      .observer-text {
        font-family: $font__main;
        font-style: italic;
        align-items: right;
        position: absolute;
        left: 7rem;
        @include desktop {
        left: -21rem;
        width: 24rem;
        font-size: 1.2rem;
        font-style: normal;
        }
      }
     
      .we-are-observer {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
      }

      .observer {
        height: 100%;
        @include desktop {
        text-align: right;
        display: flex;
        justify-content: flex-end;
          img {
            height: 810px;
            width: 540px;
          }
        }
      }      
    }
  }

  .browse-weddings,
  .connect {
    @include pink-button-mobile;
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      left: 39%;
      top: 10rem;
      font-size: 1.5rem;
      @include pink-button;
    }    
  }
  .about-us {
    @include pink-button-mobile;
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      left: 62%;
      top: 10rem;
      @include pink-button;
    }
  }
}

.owl-wrapper {
  width: 30rem;
}

.instagram-carousel-container {
  width: 750px;
}

.site-main .instagram-carousel-container {
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  @include desktop {
    margin: 10rem auto 0;
  }
} 

.instagram-carousel-container {
  position: relative;
}

.follow-instagram-header {
  width: 100%;
  height: 2.5rem;
}

.follow-instagram {  
  flex-direction: column;
  margin: 0 auto;
  font-weight: 100;
  font-style: italic;
  font-size: 30px;
  span {
    font-weight: bold;
  }
  background-color: $color__background-body;
  @include desktop {    
    width: 30%;  
    display: flex;
  }
}
  
.instagram-carousel-container .owl-carousel {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;    
  border-top: $border__main-solid;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
  z-index: -1;
}

.instagram-carousel-container {
  .owl-prev {
    @include owl-nav-arrow;
    left: -2rem;
    
  }
  .owl-next {
    @include owl-nav-arrow;
    right: -2rem;
  }
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width:31px;
  height:90px;
}
.owl-carousel .owl-nav .owl-prev{
  background: url('../../images/arrows/left_arrow.png') no-repeat;
}
.owl-carousel .owl-nav .owl-next{
  background: url('../../images/arrows/right_arrow.png') no-repeat;
}
  
.owl-item {
  display: flex;
  justify-content: space-evenly;    
  img {
    height: 200px;
    width: 200px;
    border: $border__instagram-image;
  }
}

.home .hero .shrink {
  max-width: 50px;
  position: fixed;
  margin: 1.5rem 0;
  z-index: 5;
  @include desktop {    
    margin: -5.2rem 0;
  }    
}

.scroll-arrow {
  display: none;
  @include desktop {      
    display: inline;    
    background-color: transparent;
    border: none;
    position: absolute;
    top: 80vh;
    left: 50%;  
    font-size: 2.5em;
    transform: translateX(-50%);
  }
}

