.home {
  .nav-logo {
    display: none;
  }
  .site-main {
    width: 65vw;
    margin: 0 auto;
  }
  .site-content {
    text-align: center;
    a {
      text-decoration: none;
      color: $color__text-secondary;
    }
  }

  .hero {
    min-height: 50vh;
    @include desktop {
      display: flex;
      flex-direction: column;
      min-height:90vh;
    }
    .front-center-text {
      height: 200px;
      width: 100vw;
      margin: 18rem auto;
      @include desktop { 
        margin: 20rem auto 0;
        position: inherit;
      }
    }
    .front-center-logo {
      transform: translate(-50%, -50%);      
      transition: all .4s ease-in-out;
      width: 125px;
      height: 205px;
      margin: 10rem auto;
      position: absolute;
      left: 50%;
      z-index: 6;
      @include desktop {
        margin: 5rem auto;
        width: 350px;
        margin-top: 150px;
        position: absolute;
        top: 7rem;
        left: 50%;   
      }
    }
  }
.we-are-story-tellers {
  margin-top: 5rem;
}
  .introduction-container {
    .we-are-story-tellers, 
    .we-are-observer,
    .we-are-your-friend {
      position: relative;
      list-style: none;     
      img {
        margin-top: 13rem;
        @include desktop {
        margin-top: 5rem;
        }          
      } 
      @include desktop {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        .storytellers-image, .friend-image {
          height: 810px;
          width: 540px;        
        }
      }
      p { 
        position: absolute;
        top: 7rem;        
        @include desktop {
        position: static;
        }
      }
      h1 {
        position: absolute;        
        top: 0;
        margin: 10% 5%;
        @include desktop {
          margin: 0;
          position: static;
        }
      }
    }
    ul {
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    }
    @include desktop {
      ul:nth-child(odd) {
        text-align: left;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        // margin: 5rem 0 0;
          img {
          height: 810px;
          width: 540px;
        }
      }
      .storytellers-text,
      .friend-text {
        font-family: $font__main;
        font-style: italic;
        @include desktop {
          display: flex;
          flex-direction: column;
          align-items: left;
          position: absolute;
          right: -26rem;
        } 
      }
      .observer-text {
        font-family: $font__main;
        font-style: italic;
        align-items: right;
        position: absolute;
        left: 7rem;
        @include desktop {
          
        left: -25rem;
        }
      }
     
      .we-are-observer {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
      }

      .observer {
        height: 100vh;
        @include desktop {
        text-align: right;
        // margin-bottom: 5rem;
        display: flex;
        justify-content: flex-end;
        
          img {
            height: 810px;
            width: 540px;
          }
          .about-us {
            // left: 0;
          }
        }
      }      
    }
  }

  .browse-weddings,
  .connect {
    @include pink-button-mobile;
    position: absolute;
    left: 35%;
    bottom: -1rem;
    transform: translateX(-50%);
    @include desktop {
      left: 30%;
      
      // position: static;
      top: 8rem;
      @include pink-button;
    }    
  }
  .about-us {
    @include pink-button-mobile;
    position: absolute;
    right: -31%;
    bottom: -1rem;
    transform: translateX(-50%);
    @include desktop {
      // position: static;
      top: 8rem;
      @include pink-button;
    }
  }
}

.owl-wrapper {
  width: 30rem;
}

.instagram-carousel-container {
  width: 750px;
}

.site-main .instagram-carousel-container {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
} 

.instagram-carousel-container {
  position: relative;
}

.follow-instagram-header {
  width: 100%;
  height: 2.5rem;
}

.follow-instagram {  
  flex-direction: column;
  margin: 0 auto;
  font-weight: 100;
  span {
    font-weight: bold;
  }
  background-color: $color__background-body;
  @include desktop {    
    width: 30%;  
    display: flex;
  }
}
  
.instagram-carousel-container .owl-carousel {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;    
  border-top: $border__main-solid;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
  z-index: -1;
}

.instagram-carousel-container {
  .owl-prev {
    font-size: 1.5rem;    
    position: absolute;
    bottom: 8rem;
    left: -3rem;
    font-size: 7rem;
    width: 38px;
    z-index: 3;
    color: $color__accent;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .owl-next {
    font-size: 1.5rem;
    position: absolute;
    bottom: 8rem;    
    right: -2rem;
    font-size: 7rem;
    width: 38px;
    z-index: 3;
    color: $color__accent;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
  
.owl-item {
  display: flex;
  justify-content: space-evenly;    
  img {
    height: 200px;
    width: 200px;
    border: $border__instagram-image;
  }
}

.home .hero .shrink {
  max-width: 50px;
  position: fixed;
  margin: 1rem 0;
  @include desktop {    
    margin: -3rem 0;
  }    
}

.scroll-arrow {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  // margin: 5rem auto 1rem;
 
    display: none;
    @include desktop {      
      display: inline;    
      background-color: transparent;
      border: none;
      h1 {
        font-size: 2.5em;
        left: 50%;
        transform: translateX(-50%);
      }
    
  }
}

