.home {
  .site-main {
    width: 65vw;
    margin: 0 auto;
  }
  .site-content {
    text-align: center;
    a {
      text-decoration: none;
      color: $color__text-secondary;
      
    }
  }

  .hero {
    min-height: 50vh;
    @include desktop {
      display: flex;
      flex-direction: column;
      min-height:90vh;
    }
    .front-center-text {
      height: 200px;
      width: 100vw;
      margin: 18rem auto;
      @include desktop { 
        margin: 30% auto 0;
        position: inherit;
      }
    }
    .front-center-logo {
      transform: translate(-50%, -50%);      
      transition: all .4s ease-in-out;
      width: 125px;
      height: 205px;
      margin: 10rem auto;
      position: absolute;
      left: 50%;
      z-index: 6;
      
      @include desktop {
        margin: 5rem auto;
        width: 350px;
        margin-top: 150px;
        position: absolute;
        top: 7rem;
        left: 50%;   
      }
    }
  }

  .introduction-container {
    .we-are-story-tellers, .we-are-observer, .we-are-your-friend {
      list-style: none;      
      @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        .storytellers-image, .friend-image {
          width: 50vw;
        }
      }
    }
    ul {
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    }
    @include desktop {
      ul:nth-child(odd) {
        text-align: left;
        height: 100vh;
        display: flex;
        align-items: center;
        margin: 5rem 0;
        img {
          height: 100vh;
          width: 55%;
        }
      }
      .storytellers-text, .friend-text {
        font-family: $font__main;
        font-style: italic;
        @include desktop {
          display: flex;
          flex-direction: column;
          align-items: center;
        } 
      }
      .observer-text {
        font-family: $font__main;
        font-style: italic;
      }
     
      .we-are-observer {
        display: flex;
        flex-direction: row-reverse;
      }

      .observer {
      height: 100vh;
      @include desktop {
      text-align: right;
      margin-bottom: 5rem;
      display: flex;
        img {
          height: 100vh;
          width: 50vw;
        }
        .about-us {
          left: 0;
        }
        }
      }      
    }
  }

  .browse-weddings,
  .about-us,
  .connect {
    @include pink-button-mobile;
    @include desktop {
      @include pink-button;
    }    
  }
}

.owl-wrapper {
  width: 30rem;
}

.instagram-carousel-container {
  width: 750px;
}

.site-main .instagram-carousel-container {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  width: 100%;
} 

.instagram-carousel-container {
  position: relative;
}

.follow-instagram-header {
  width: 100%;
  height: 2.5rem;
}

.follow-instagram {  
  flex-direction: column;
  margin: 0 auto;
  font-weight: 100;
  span {
    font-weight: bold;
  }
  background-color: $color__background-body;
  @include desktop {    
    width: 30%;  
    display: flex;
  }
}
  
.owl-carousel {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;    
  border-top: $border__main-solid;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
  z-index: -1;
}

.instagram-carousel-container {
  .owl-prev {
    font-size: 1.5rem;    
    position: absolute;
    bottom: 8rem;
    left: -3rem;
    font-size: 7rem;
    width: 38px;
    z-index: 3;
    color: $color__accent;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .owl-next {
    font-size: 1.5rem;
    position: absolute;
    bottom: 8rem;    
    right: -2rem;
    font-size: 7rem;
    width: 38px;
    z-index: 3;
    color: $color__accent;
    background-color: transparent;
    border: none;
    outline: none;
  }
  // z-index: -1;
}
  
.owl-item {
  display: flex;
  justify-content: space-evenly;    
  img {
    height: 200px;
    width: 200px;
    border: $border__instagram-image;
  }
}

.home .hero .shrink {
  max-width: 50px;
  position: fixed;
  margin: 1rem 0;
  @include desktop {    
    margin: -3rem 0;
  }    
}

.scroll-arrow {
  width: 90px;
  margin: 5rem auto 1rem;
  .scroll {
    display: none;
    @include desktop {      
      display: inline;    
      background-color: transparent;
      border: none;
      h1 {
        font-size: 2.5em;
      }
    }
  }
}

