// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin pink-button {
	width: 300px;
	height: 100px;
	font-size: 1.3rem;
	outline-offset: -14px;      
	background-color: $color__accent;
	outline: $border__white-solid;
	a {
		text-decoration: none;
		color: $color__background-body;
	}
}

@mixin pink-button-mobile {
	width: 45vw;
	height: 50px;
	font-size: 1rem;
	outline-offset: -8px;      
	background-color: $color__accent;
	outline: $border__white-solid;
	a {
		text-decoration: none;
		color: $color__background-body;
	}
}

