/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.menu-main-container {
  display: none;
}

.site-header {
	position: absolute;
}
.toggle-nav {
	// display:none;
}
.mobile-nav {
	position: fixed;
	@include desktop {    
		display: none;
	}		
}
.mobile-menu-items {
	position: fixed;
	text-align: left;
	width: 100vw;
	margin: 0;
	li, a {
		text-decoration: none;
		list-style-type: none;		
	}
	@include desktop {    
		display: none;
	}
}

/*----- Menu -----*/

.sub-menu {
	display: none;
}

.desktop-menu {
	display: none;
	width: 100vw;
	position: fixed;
	
  @include desktop {    
		display: flex;

		ul.menu-items {
			display: flex;
			width: 100vw;
			margin: 0;
			padding: 1.5rem 10rem;
			background-color: $color__header-background;
			justify-content: space-between;
			li, a {
			text-decoration: none;
			list-style-type: none;
		// 	ul li.active-link>a{
		// 	border-bottom: 1px solid green;
		// }
					}

		}
	}
}
.main-navigation {
	width: 100%;
	height: 5rem;
	position: fixed;
	top: 4rem;
	left: 3rem;
	// background-color: hsla(0,0%,100%,.85);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
