/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.menu-main-container {
  // display: none;
}

.site-header {
	position: absolute;
}
.fixed-menu .toggle-nav ul {
	display:flex;
}
// .mobile-nav {
// 	position: fixed;
// 	@include desktop {    
// 		display: none;
// 	}		
// }
.menu-list {
	position: fixed;
	text-align: left;
	width: 100vw;
	margin: 0;
	li, a {
		text-decoration: none;
		list-style-type: none;		
	}
	@include desktop {    
		display: none;
	}
}


.sub-menu {
	display: none;
}

.fixed-menu {
	width: 100vw;
	position: fixed;
	background-color: $color__header-background;
	.toggle-menu-button {
		display: block;
		@include desktop {    			
			display: none;
		}			
	}
	.menu-list {
		display: none;
		@include desktop {    			
		display: flex;
		}
	}
  @include desktop {    
		display: flex;
		ul.menu-list {
			display: flex;
			width: 100vw;
			margin: 0;
			padding: 1rem 10rem;
			justify-content: space-between;
			li, a {
			font-family: $font__main;
			font-weight: 500;
			text-decoration: none;
			list-style-type: none;
			}
		}
	}
}
.toggle-nav {
	display: inline !important;
}

.main-navigation {
	width: 100%;
	height: 5rem;
	position: fixed;
	top: 4rem;
	left: 3rem;
	// background-color: hsla(0,0%,100%,.85);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

