/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */
a {
	color: $color__link;
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header {
	position: absolute;
}
.fixed-menu .toggle-nav ul {
	display:flex;
	transform: translateY(-1em);
  z-index: -1;
}

.menu-list {
	position: fixed;
	text-align: left;
	width: 100vw;
	margin: 0;
	li, a {
		text-decoration: none;
		list-style-type: none;		
	}
	@include desktop {    
		display: none;
	}
}

.nav-logo {
	display: none;	
	@include desktop {    
	display: inline-block;
	height: 50px;
	width: 50px;
	}
}

.fixed-menu .menu-list .active-page  {
	a {
		border-bottom: $border__under-nav;
		padding: 0;
	}
}

.sub-menu {
	display: none;
}
.site-header .fixed-menu .fade-background {
	background-color: $color__header-background;
	transition: all 0.9s ease-in-out; 
	transition-duration: 1s, 0.5s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
}

.fixed-menu {
	position: fixed;
	background-color: $color__header-background;
	z-index: 5;	
	width: 100vw;	
	@include desktop {    			
		background-color: $color__header-transparent-background; 
	}
	.toggle-menu-button {
		background-color: transparent;
		display: block;
		border: none;
		font-style: normal;
		color:$color__black;		
		width: 3rem;
		height: 3rem;
		font-size: 1.5rem;
		@include desktop {    			
			display: none;
		}			
	}
	.menu-list {
		background-color: $color__header-background;
		display: none;
		line-height: 2;
		@include desktop {    			
			background-color: $color__header-transparent-background; 
		}
		li {
			font-family: $font__main;
			font-style: italic;
			font-size: 1.5rem;
			font-weight: 200;
		}

		@include desktop {    			
		display: flex;
		}
	}
  @include desktop {    
		display: flex;
		ul.menu-list {
			transition: all 0.9s ease-in-out; 
			transition-duration: 1s, 0.5s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;			
			display: flex;
			width: 100vw;
			margin: 0;
			padding: .3rem 20rem;
			justify-content: space-evenly;
			li, a {
			font-family: $font__main;
			font-style: italic;
			font-weight: 200;
			font-size: 1.5rem;
			padding-right: 1rem;
			text-decoration: none;
			list-style-type: none; 
			}
			li:nth-child(2) {
				padding-right: 4rem;
			}
			li:nth-last-child(2) {
				padding-left: 4rem;
			}
		}
	}
}
.fixed-menu .toggle-nav {
	display: inline;
	// transition: all 0.4s ease-in-out; 
}

.main-navigation {
	width: 100%;
	height: 5rem;
	position: fixed;
	top: 4rem;
	left: 3rem;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}