/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Connect page */

.page-id-61 {
  .connect-hero {
    width: 100vw;
    @include desktop {
      background-position-y: -28rem;
      width: 100%;
      height: 10rem;
    }
  }
.entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    margin: 0 auto;
  }
  h2 {
    color: $color__text-secondary;
    font-size: 64px;
    font-weight: 500;
    font-style: italic;
    margin: 3% 0 1% 0;
  }
  .congrats {
    font-size: 24px;
    letter-spacing: $font_letter_spacing_main;
    font-weight: 500;
    color: $color__text-main;
    text-align: center;
  }
  .hear-from-you {
    font-size: 18px;
    letter-spacing: $font_letter_spacing_main;
    text-align: center;
  }
  .required {
    font-size: 14px;	
    font-style: italic;
    letter-spacing: $font_letter_spacing_main;
    margin: 3% 0 1% 0;
  }
}


/* Thank you Page */

.thank_you_hero_image {
  img {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 75%;
  }
}

.page-id-234 {
  .entry-content {
    text-align: center;
    letter-spacing: 1.1px;

  h2 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.1px;
    color: $color__text-secondary;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1.25rem;
    @include desktop {
      font-size: 4rem;
    }
  }

  p {
    @include desktop {
      font-size: 1.25rem;
    }
  }

  .thankyou-message {
    text-align: center;
    @include desktop {
      font-size: 1.5rem;
    }
  }
}
}

.partners-logo-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
  }
}

.partner-logo-one {
  width: 280px;
}
.partner-logo-two {
  width: 280px;
}
.partner-logo-three {
    width: 200px;
}

