/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Connect page */

.page-id-61 {
  .connect-hero {
    width: 100vw;
    @include desktop {
      background-position-y: -28rem;
      width: 100%;
      height: 10rem;
    }
  }
.entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    margin: 0 auto;
  }
  h2 {
    color: $color__text-secondary;
    font-size: 64px;
    font-weight: 500;
    font-style: italic;
    margin: 3% 0 1% 0;
  }
  .congrats {
    font-size: 24px;
    letter-spacing: $font_letter_spacing_main;
    font-weight: 500;
    color: $color__text-main;
    text-align: center;
  }
  .hear-from-you {
    font-size: 18px;
    letter-spacing: $font_letter_spacing_main;
    text-align: center;
  }
  .required {
    font-size: 14px;	
    font-style: italic;
    letter-spacing: $font_letter_spacing_main;
    margin: 3% 0 1% 0;
  }
}


/* Thank you Page */

.thank_you_hero_image {
  img {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 75%;
  }
}

.page-id-234 {
  .entry-content {
    text-align: center;
    letter-spacing: 1.1px;

  h2 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.1px;
    color: $color__text-secondary;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1.25rem;
    @include desktop {
      font-size: 4rem;
    }
  }

  p {
    @include desktop {
      font-size: 1.25rem;
    }
  }

  .thankyou-message {
    text-align: center;
    @include desktop {
      font-size: 1.5rem;
    }
  }
}
}

.partners-logo-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: row;

    p {
      display: flex;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 1rem;
    @include desktop {
      width: 25%;
    }
  }

  p {
    font-size: 18px;
    letter-spacing: 1.2px;
    margin: 1rem 1rem 0rem 1rem;
    display: none;
    color: $color__text-main;
    @include desktop {
      display: flex;
    }

  }
}

.confirmation-weddings {
  width: 300px;
  height: 100px;
  font-size: 1.3rem;
  outline-offset: -15px;
  display: flex;
  background-color: #cc9785;
  outline: 2px solid #fff;
  border: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 4rem;
  justify-content: center;

  a {
    color: $color__background-body;
    text-decoration: none; 
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}


.partner-logo-one {
  width: 300px;
  height: auto;
  margin: 1rem auto;
  @include desktop {
    width: 280px;
  }
}
.partner-logo-two {
  width: 300px;
  align-items: center;
  margin: 1rem auto;

  @include desktop {
    width: 280px;
  }
}
.partner-logo-three {
    width: 300px;
    align-items: center;
    margin: 1rem auto;
    @include desktop {
      width: 200px;
    }
}

