/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Connect page */

.page-id-61 {
  .connect-hero {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 75%;

    @include desktop {
      background-position-y: initial;
      width: 100vw;
      height: 10rem;
    }
  }

  .entry-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    
  }
  h2 {
    color: $color__text-secondary;
    font-size: 64px;
    font-weight: 500;
    font-style: italic;
    margin: 8% 0 1% 0;
  }
  .congrats {
    font-size: 24px;
    letter-spacing: $font_letter_spacing_main;
    font-weight: 500;
    color: $color__text-main;
    text-align: center;
  }
  .hear-from-you {
    font-size: 18px;
    letter-spacing: $font_letter_spacing_main;
    text-align: center;
    padding: 2em;
    margin: 0;
  }
  .required {
    font-size: 14px;	
    font-style: italic;
    letter-spacing: $font_letter_spacing_main;
    margin: 3% 0 1% 0;
  }
}
.page-id-61 {
 @include desktop {
  .entry-content {
    width: 620px;
 }
  h2 {
   
  }
  p.congrats {

  }
  .hear-from-you {
    height: 62px;
    width: 620px;
    margin-bottom: 4%;
  }
  p.required {
  }
}
}

/* Thank you Page */

.thank_you_hero_image {
  img {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 75%;
  }
}