// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #FFFFFF;
$color__background-input: #E4E2E2;
$color__text-main: #415468;
$color__text-secondary: #BF8472;
$color__accent: #CC9785;


$color__link: #415468;
$color__link-visited: #415468;
$color__link-hover: #232d38;

// Typography

$font__main: 'EB Garamond', Courier, serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__base-size: 18px;
$font_letter_spacing_main: 1px;

//usused variable to be changed
$color__background-pre: red;
$font__pre: blue;
$font__code:green;
$color__border-abbr: brown;
$color__background-ins: yellow;
$color__background-hr: orange;
$color__background-screen: blue;
$color__text-screen: red;

// border
$border__white-solid: 2px solid #FFFFFF;

//screen sizes

$desktop-width: 800px;
