// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #FFFFFF;
$color__background-input: #E4E2E2;
$color__text-main: #415468;
$color__text-secondary: #BF8472;
$color__accent: #CC9785;


$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: 'EB Garamond', Courier, serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__base-size: 18px;
