// wedding page hero image
.page-template-wedding {
  .page-header {
    width: 100%;
    height: 300px;
    margin-bottom: 2.5em;
  }
}
// wedding page logo
.page-template-wedding {
  .wedding-logo {
    display: flex;
    justify-content: center;
    margin: 0.75rem auto;
  }
  .wedding-page-logo {
  height: 70px;
  width: 42px;
 }
}
// Style for wedding page title and tabs
.page-template-wedding,
.single-gallery {
  .entry-title {
    text-align: center;
    @include desktop {
      font-size: 64px;
      color: $color__text-secondary;
      font-weight: 500;
      font-style: italic;
      letter-spacing: 2px;
      margin: .25em 0;
    }
  }
  ul.wedding-tab-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 1em;
     li {
       list-style: none;
       margin: 0 3rem;
       font-style: italic;
       font-weight: lighter;
       font-size: 20px;
       letter-spacing: 1.2px;
       a {
         text-decoration: none;
         padding-bottom: .5rem;
       }
       li.active {
         padding-bottom: 0.5rem;
       }
     }
   }
}

// Style for wedding page album gallery
.page-template-wedding {
  .weddings {
    display: grid;
    max-width: 25em;
    padding: 1em;
    margin: 1em auto;
    grid-gap: 1em;
    grid-auto-rows: minmax(25em, auto);
    grid-template-columns: 1fr;
    @include desktop {
      display: grid;
      max-width: 1000px;
      padding: 10px 10px;
      margin: 1rem auto;
      grid-gap: 20px;
      grid-auto-rows: minmax(250px, auto);
      grid-template-columns: 1fr 1fr 1fr;
  
    }
    .wedding-album {
      list-style: none;
      position: relative;
    }
    .album-name {
      z-index: 4;
      position: absolute;
      top: 25%;
      left: 27%;
      font-size: 24px;
      letter-spacing: 1px;
      text-align: center;
      font-style: italic; 
      font-weight: 500; 
      color: #FFF;
      @include desktop {
        position: initial;
        color: $color__text-main;
        margin: 0;
      }
    }
    .wedding-location {
      z-index:4;
      position: absolute;
      top: 45%;
      left: 36%;
      text-align: center;
      margin: 0;
      color: #fff;
      font-size: 14px;
      @include desktop {
        position: initial;
        color: $color__text-main;
      }
    }
  }
}
.wedding-album {
  a {
    text-decoration: none;
  }
}
.image-gradient::after {
  display: block;
  position: absolute;
  background-image: linear-gradient( hsla(0,0%,0%,.2), 0, #5E5959 1%);
  top: 0;
  opacity: 0.6;
  height: 90%;
  width: 100%;
  outline-offset: -15px;
  outline: $border__white-solid;
  content: '';
  @include desktop {
    display: none;
  }
}
// about us button
.about-us-button-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-size: 1.3rem;
  outline-offset: -6px;
  background-color: #cc9785;
  outline: 2px solid #fff;
  border: none;
  @include desktop {
    width: 215px;
    height: 70px;
    font-size: 25px;
    outline-offset: -15px;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 26px;
  }
}
// back to top link

.back-to-top {
  display: flex;
  justify-content: center;
  margin: 2em 0;

  @include desktop {
    display: none;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
}
// style for masonry gallery pages

.wedding-album-gallery-pages {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 50vw;
  margin: 0 auto;
  @include desktop {
    width: 60vw;
  }
}
.wedding-gallery-image {
  display: inline-block;
  margin:  0.25rem;
  width:  100%; 
}

// single gallery wedding gallery title
.single-gallery {
  .wedding-location {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
  }
}
.single-gallery {
  .entry-header {
    img {
      display: none;
    }
  }
}
.single-gallery {
  .h2 {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    letter-spacing: $font_letter_spacing_main;
    font-weight: 500px;
  }
  .p {
    text-align: center;
    font-size: $font__base-size;
  }
}
// single-gallery navigation links

.nav-links {
  display: flex;
  margin: 1.5em 1em;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
}

// portrait styling

.tab-portraits {
  display: none;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 60vw;
  margin: 0 auto;
}
.portrait-album {
  display: inline-block;
  margin:  0.25rem;
  width:  100%; 
}
// detail styling

.tab-details {
  display: none;
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 60vw;
  margin: 0 auto;
}

/* Outer */
.popup {
  z-index: 99;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
  z-index: 99;
  max-width:700px;
  height: min-content;
  width: auto;
  padding: 3px;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  background:#fff;
  @include desktop {
    max-height: 80vh;
    top: 50%;
  }
}

.popup-inner img {
  height: initial;
  @include desktop {
    max-height: 25.8rem;
  }
}

/* Close Button */
.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  text-decoration: none;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:$color__accent;
  text-decoration:none;
}
// tab sections

#label {
  display: none;
}
.label.active {
  display: block;

}

