// wedding page hero image
.page-template-wedding {
  .page-header {
    width: 100%;
    height: 300px;
    margin-bottom: 2.5em;
  }
}
// wedding page logo
.page-template-wedding {
  .wedding-logo {
    display: flex;
    justify-content: center;
  }
  .wedding-page-logo {
  height: 50px;
  width: 30px;
 }
}
// Style for wedding page title and tabs
.page-template-wedding {
  .entry-title {
    text-align: center;
    @include desktop {
      font-size: 64px;
      color: $color__text-secondary;
      font-weight: 500;
      font-style: italic;
      letter-spacing: 2px;
      margin: 0;
    }
  }
  ul.wedding-tab-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
     li {
       list-style: none;
       padding: 0 1.25rem;
       font-style: italic;
       font-weight: lighter;
       letter-spacing: 1.2px;
       a {
         text-decoration: none;
       }
     }
   }
}

// Style for wedding page album gallery
.page-template-wedding {
  .weddings {
    display: grid;
    max-width: 1000px;
    padding: 10px 10px;
    margin: 1rem auto;
    grid-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
    grid-template-columns: 1fr 1fr 1fr;
    .wedding-album {
      list-style: none;
    }
    p {
      text-align: center;
      margin: 0;
      color: $color__text-main;
      font-size: 14px;
    }
    .album-name {
      font-size: 24px;
      letter-spacing: 1px;
      text-align: center;
      font-style: italic; 
      font-weight: 500; 
    }
  }
}

// style for masonry gallery pages

.wedding-album-gallery-pages {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 70vw;
  margin: 0 auto;
}
.wedding-gallery-image {
  display: inline-block;
  margin:  0.25rem;
  width:  100%; 
}

// wedding gallery title
.single-gallery {
  .entry-title {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    letter-spacing: $font_letter_spacing_main;
    font-weight: 500px;
  }
  .entry-content {
    text-align: center;
    font-size: $font__base-size;
  }
}

// portrait styling

.tab-portraits {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 70vw;
  margin: 0 auto;
}
.portrait-album {
  display: inline-block;
  margin:  0.25rem;
  width:  100%; 
}
// detail styling

.tab-details {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  width: 70vw;
  margin: 0 auto;
}


// pop up modal styling
.popup {
  width:100%;
  height:100%;
  display: block;
  position:fixed;
  top:0px;
  left:0px;
}

.popup-inner {
  max-width:700px;
  width:90%;
  position: fixed;
  padding:40px;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

.gallery-modal-link {
  display: inline-block;
  margin:  0.25rem;
  width:  100%;
}

// tab sections

.wedding-page-content {




}

#label {
  display: none;
}
.label.active {
  display: block;
}